<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Webpage</title>
  <style>
    

     .popup {
    font-family: "Source Code Pro", monospace;
    --input-focus: #0E46A3;
    --font-color: #F5E8C7;
    --font-color-sub: #666;
    --bg-color: rgba(245, 232, 199,0.5);
    --main-color: black;
    background: rgba(67, 85, 133,0.8);
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);

    display: none; /* Hide popup by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(67, 85, 133);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;

    /* Add overflow-y property */
    max-height: 80vh; /* Set a maximum height for the popup */
    overflow-y: auto; /* Enable vertical scroll when content exceeds max-height */
}



    .form {
        margin-top:50px;
      font-family: "Source Code Pro", monospace;
      margin-left:400px;
      width:60%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding-bottom:40px;
  padding-top:40px;
}

 .form3 {
  display:inline-block ;
  margin-top:100px;
      font-family: "Source Code Pro", monospace;
      margin-left:50px;
      width:40%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding:40px;
}
.form4 {
  display: inline-block;
  margin-top:50px;
      font-family: "Source Code Pro", monospace;
      margin-left:70px;
      width:40%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding:40px;

}

.sty {
      font-family: "Source Code Pro", monospace;
      margin-left:350px;
      width:60%;
  --input-focus: #0E46A3;
  --font-color: #F5E8C7;
  --font-color-sub: #666;
  --bg-color: rgba(245, 232, 199,0.5);
  --main-color: black;
  background:  rgba(67, 85, 133,0.8);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding-bottom:40px;
  padding-top:40px;
}

.title {
  margin-left:300px;
  color: var(--font-color);
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color);
  font-weight: 600;
  font-size: 17px;
}

.label{
  color: var(--font-color);
  margin-left:190px;
  font-size: 20px;
 font-family: "Source Code Pro", monospace;
 display:inline-block;
 padding-right: 10px;
}
.label1{
  
  color: var(--font-color);
  margin-left:200px;
  font-size: 20px;
 font-family: "Source Code Pro", monospace;
 display:inline-block;
 padding-right: 10px;
}

.input2{
  display: inline-block;
  margin-top:30px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  padding-right:30px;
  margin-bottom: 20px;
  outline: none;
  
}
.input5{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:75px;
  padding-right:30px;
  
}
.input5::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input5:focus {
  border: 2px solid var(--input-focus);
}
.input6{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:25px;
  padding-right:30px;
  
}
.input6::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input6:focus {
  border: 2px solid var(--input-focus);
}

.input7{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:70px;
  padding-right:30px;
  
}
.input7::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input7:focus {
  border: 2px solid var(--input-focus);
}

.input8{
  display: inline-block;
  margin-top:20px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left:20px;
  padding-right:30px;
  
}
.input8::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input8:focus {
  border: 2px solid var(--input-focus);
}

.input3{  
    margin-left:100px;
  margin-top:100px;
  font-family: "Source Code Pro", monospace;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
   padding-right:30px;
  
}

.input2::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input2:focus {
  border: 2px solid var(--input-focus);
}
.input3::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input3:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm1 {
  margin-top:30px;
  margin-left:240px;
  font-family: "Source Code Pro", monospace;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-right:50px;
}

.button-confirm {
  font-family: "Source Code Pro", monospace;
  margin-left:430px;
  margin-top:30px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-right:50px;
  margin-bottom:50px;
}

.button-confirm3 {
  margin-top:30px;
  margin-left:240px;
  font-family: "Source Code Pro", monospace;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-right:50px;
}

 .button-confirm3:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.input {
  border-radius: 10px;
  outline: 2px solid #FFECD6;;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}

    .button2 {
      font-family: "Source Code Pro", monospace;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #FFECD6;;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background:#0E46A3;
  border: 1px solid #0E46A3;

}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

    body {
      background-color: #FFECD6;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .c {
      position: relative;
      height: 300px;
      background-color:#FFECD6;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      margin-left:15px;
      padding-top: 50px; /* Reduced top padding */
      transition: background-color 0.3s;
    }
     .c2 {
      color:#FFECD6;
      position: stciky;
      height: 300px;
      background-color:#0E46A3;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      margin-top:200px;
      padding-top:90px;
      transition: background-color 0.3s;
    }
     .a4 {

      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 500px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
     .a41 {

      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      padding-top:80px;
      margin-left: 700px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    .a42 {

      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 600px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

   .a5 {
      display: inline;
      color:#FFECD6;
      font-size: 70%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 500px;
      
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .c1 {
      width: 80%;
      height: 500px;
      background-color:#FFECD6;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      padding-top:50px;
      margin-left:50px;
      transition: background-color 0.3s;
      color:#0E46A3;
    }
     .c6 {
        margin-top:900px;
      position:relative;
      width: 40%;
      height: 500px;
      background-color:#FFECD6;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      border-radius: 5px;
      padding-top:80px;
      margin-left:500px;
      transition: background-color 0.3s;
      color:#0E46A3;
    }


    .c h5 {
      display: inline-block;
      color: #0E46A3;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }

   

    .a3 {
      display: inline;
      color:#0E46A3;
      font-size: 200%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 70px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .a1 {
      display: inline;
      color:#0E46A3;
      font-size: 100%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 100px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .a2 {
      display: inline;
      color: #0E46A3;
      font-size: 100%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left: 10px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    header a {
      color:#0E46A3;
      font-size: 150%;
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      text-decoration: none;
      margin-left:20px;
      margin-right:100px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    header a:hover {
      background-color: #555;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .button {
      display: block;
      margin: 20px auto;
      padding: 20px 40px;
      background-color: #FFB800;
      color: black;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #FFA500;
    }
    a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  cursor: pointer; /* Change cursor to pointer on hover */
}

a:hover {
  text-decoration: none; /* Remove underline on hover */
}

  </style>
</head>
<body>
  <div class="c">
    <h5 class="a3">S P A C E U P</h5>
     <h5><a class="a1" href="/entrypage">Home</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/aboutN">About</a></h5> 
    <h5>/</h5>
    <h5><a class="a2" href="/contactN">Contact</a></h5> 
  
  </div>

  <div class="c1">
    <h1>Contact Us</h1>
   Thank you for your interest in SpaceUp. We're here to help with any questions or feedback you may have. Please feel free to reach out to us using the contact information below:

<h1>Contact Information</h1>
<u1>
  <li><b>Email: </b>spaceup@gmail.com</li>
  <li><b>Phone: </b>1234567890</li>
  <li><b>Address: </b>RSET,Rajagiri Valley, Kakkand, Kochi, 682030</li>

</u1>

<h1>Feedback Form</h1>
Alternatively, you can use the form below to send us a message:

<form class="form" >
  <div class="title">Feedback<br><span>Thank you for your feedback !!</span></div>
  <label class="label1"><b>N a m e : </b> </label>
  <input class="input3" name="firstname" placeholder="Name" type="text">
  <label class="label1"> <b>E m a i l : </b> </label>
  <input class="input5" name="lastname"placeholder="Email" type="text">
  <label class="label1"><b>M e s s a g e : </b> </label>
  <input class="input6" name="phone" placeholder="Message" type="text">
  <button class="button-confirm">Submit  →</button> 
  
  </form>



    <br><br>
  </div>

  <div class="c6">
    <img src="logo.gif">
  </div>

  <div class="c2">
    <h5 class="a5">Stay updated with SpaceUp's latest updates:   </h5>
    <input type="text" placeholder="Enter Email..." name="text" class="input">
    <h5 class="a41">Privacy Policy</h5>
    <h5 class="a4">Spcace is a parking solution application base in India.</h5>
    <h5 class="a42"> Copyright © 2024 SpaceUp Design Ltd.</h5>

  </div>
</body>
</html>
